* {
  user-select: none;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  min-width: 500px;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
.home-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow-y: scroll;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container form {
  height: 35vh;
  width: 35vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f5f5dc;
}
.home-container .room-input {
  display: flex;
  justify-content: space-between;
}
.chat-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow-y: scroll;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 50px 9fr 50px;
  grid-template-areas: 'users title' 'users messages' 'users input';
}
