.home-container
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	width: 100%
	overflow-y: scroll
	margin: 0
	display: flex
	justify-content: center
	align-items: center

	form
		height: 35vh
		width: 35vh
		display: flex
		flex-flow: column
		align-items: center
		justify-content: space-evenly
		background-color beige

	.room-input
		display: flex
		justify-content: space-between
